*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 150px 1fr 150px;
}
.layout header {
    grid-column: 1 /3;
    grid-row: 1/2;
    background-color: grey;
}
.layout main {
    grid-column: 1 /3;
    grid-row: 2/3;
    background-color: gainsboro;
}
.layout footer {
    grid-column: 1 /3;
    grid-row: 3/4;
    background-color: grey;
}
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}
.navbar li a {
    text-decoration: none;
    color: rgb(47, 66, 175);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    margin: 10px 10px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(221, 62, 14);
    background-color: rgb(47, 66, 175);
}
.portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.imagen-portada img {
    display: flex;
    width: 100%;
    object-fit: cover;
}
.seccion-dos {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-cards {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    object-fit: cover;
    gap: 20px;
}
.container-cards figure figcaption {
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    margin: 10px 10px;
    text-align: center;
    font-size: 30px;
    color: rgb(221, 62, 14);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.seccion-tres {
    display: flex;
    width: 90%;
    height: auto;
    margin: 30px 30px;
}
.seccion-tres p {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    padding: 30px 30px;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}
.datos-contacto {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: rgb(47, 66, 175);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 10px;
    margin-top: 10px;
}
h3 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(47, 66, 175);
}
.redes {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    list-style: none;
    gap: 30px; 
}

h1 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 30px;
}
.section-servicios {
    width: 95%;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.descripcion {
    align-items: center;
    padding: 20px;
    padding-right: 40px;
}
.descripcion p {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
.nosotros {
    background-image: url(../assets/limpieza-vidrios.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nosotros-1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 30px 30px;
}
.nosotros-1 p {
    background-color: rgba(0, 0, 0, 0.301);
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black ;
    text-align: justify;
    padding: 30px 30px;
} 
.lista li {
    width: 90%;
    font-size: 30px;
    height: auto;
    margin: 30px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(47, 66, 175) ;
}
.nosotros-2 {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    margin: 30px 30px;
    gap: 30px;
}
.objetivos {
background-color: rgba(0, 0, 0, 0.301) ;
width: 100%;
}
.objetivos p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: black ;
}
.trayectoria {
    background-color: rgba(0, 0, 0, 0.301) ;
    width: 100%;
    }
.trayectoria p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: black;
}    
.ubicacion {
    width: 95%;
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.mapa {
    width: 80%;
    height: auto;
    margin: 30px 30px;
    object-fit: contain;
}
.datos {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    align-items: center;
    background-color: grey;
    margin-right: 100px;
}
.datos h3 {
    margin-top: 20px;
}
.datos li {
    margin: 20px 20px;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(47, 66, 175) ; 
    font-size: 20px;
}
.formulario {
    width: 60%;
    padding: 30px 30px;
    margin-left: 30px;
}
.politicas {
    display: flex;
    width: 95%;
    flex-direction: column;
}
.privacidad {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.politicas p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: justify;
}

@media all and (max-width:1275px){

    .container-cards {
        flex-direction: column; 
    }
    }

@media all and (max-width:670px) {

    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media all and (max-width:512px) {
    .navbar {
        gap: 10px;
    }
}

@media all and (max-width:400px) {

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .datos-contacto {
        font-size: 15px;
    }
    .navbar li a {
        font-size: 15px;
    }
}

@media all and (max-width:780px) {

    .section-servicios {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media all and (max-width:490px) {

    .imagenes {
        width: 75%;
        height: 75%;
    }

    .imagenes img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media all and (max-width:670px) {
    .nosotros-2 {
        display: flex;
        flex-direction: column;
    }
}

@media all and (max-width:900px) {
    .ubicacion {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 50%;
        object-fit: cover;
    }
    .datos {
        margin-top: 30px;
    }
}

@media all and (max-width:570px) {
    .datos {
        width: auto;
    }
    .mapa {
        width: auto;
        margin-left: 150px;
    }
    .formulario {
        margin-bottom: 60px;
    }
}

@media all and (max-width:650px) {
    .privacidad {
        width: 90%;
        object-fit: cover;
    }    
}