header {
    width: 100%;
    @include flex (row, space-between, center, none);
    padding: 10px 20px;
}
.navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    li{
        a{
            text-decoration: none;
            color: $color-navbar;
            font-size: 20px;
            font-family: $tipografia;
            &:hover{
                color:aliceblue;
            }
        }
    }
}