@media all and (max-width:400px) {

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
    }
    .datos-contacto {
        font-size: 15px;
    }
    .navbar li a {
        font-size: 15px;
    }
    .mapa iframe {
        width: fit-content;
    }
    .imagenes img {
        width: 80%;
    }
}