@media all and (max-width:670px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media all and (max-width:670px) {
    .nosotros-2 {
        display: flex;
        flex-direction: column;
    }
}